<div>
	<form class="col-6 col-lg-9" method="post">
		<div class="form-group">
			<label for="name-input">Search by health</label>
			<input name="health" type="text" class="form-control" id="health-input">
		</div>
		<button type="submit" class="btn btn-block btn-primary">Search</button>
	</form>
</div>
